@tailwind base;
@tailwind components;
@tailwind utilities;

.flexcol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.glassEffect {
  background: #5e5e5e36;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(3.8px);
  backdrop-filter: blur(3.8px);
}

article > div:nth-child(1) {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
}
